* {
  /* width: 100%; */
  margin: 0;
  padding: 0;
}
body {
  background: #d9f0fc;
}

header {
  background: #0e73aa;
  /* width: 100%; */
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  align-items: center;
  /* margin: 0.3rem; */
  padding: 0.5rem 0.5rem 0 0;
}

.logo-img {
  width: 4.125rem;
  height: 4.125rem;
  border-radius: 50%;
  padding: 0.5rem;
}
.logo h6 {
  text-align: center;
  padding: 0 0.5rem 0.5rem 0.5rem;
  font-family: roboto;
  color: #b3e1f9;
  font-weight: lighter;
}
nav {
  align-items: center;
  justify-content: center;
  padding-left: 30rem;
}
nav ul {
  padding-bottom: 2rem;
  display: flex;

  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding-left: 0.5rem;
  margin: 1rem;
}
nav ul li a {
  text-decoration: none;
  font-family: sen;
  color: #b3e1f9;
  font-weight: bold;
  letter-spacing: 0.1rem;
  /* align-items: end; */
}
